<%- include("./header") %>

<div class="container mt-5">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <h2>Welcome <%= user.email %> </h2>
    <a href="/Edit" class="btn btn-danger">Edit profile</a>

</div>  

<%- include("./footer") %>